<h1 id="titulo">SUSHI OTO</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <div id="novedades">
                <h2>Novedades</h2>
                <ul class="lista-novedades">
                    {{#each novedades}}
                    <li>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#Modal{{id}}">
                            <img src="/images/novedades/E5FAE36VIVDQDN2DAJ6MD2FCRA.jpg" style="height: 100px;"
                                alt="">{{titulo}}</a>
                    </li>
                    {{/each}}

                </ul>
            </div>
        </div>
        {{#each novedades}}
        <div class="modal fade" id="Modal{{id}}" tabindex="-1" , aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
                        <h5>{{titulo}}</h5>
                        <div class="modal-body">
                            <h4>{{subtitulo}}</h4>
                            <p>{{cuerpo}}</p>
                        </div>

                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <divc class="modal-body">
                        <p></p>
                </div>

            </div>
        </div>
        {{/each}}
    </div>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
<div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1">
    </button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2">
    </button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3">
    </button>
</div>
<div class="carousel-inner">
<div class="carousel-item active">
    <img src="/images/piezadesushisalmon.jpg" style="height: 377px; width: 377px;">
    <img src="/images/mesa-habla-sushi-15-729x1000.jpg" style="height: 377px; width: 377px;" alt="...">
    <img src="/images/variedaddesushi1.jpeg" style="height: 377px; width: 377px;" alt="...">
    <img src="/images/variedaddesushi2.jpg" style="height: 377px; width: 377px;" alt="...">
    <img src="/images/variedaddesushi3.jpg" style="height: 377px; width: 377px;" alt="...">
</div>
<div class="carousel-item">
    <img src="/images/piezasdesushi.jpg" style="height: 375px; width: 375px;">
    <img src="/images/sushifrito.jpg" style="height: 375px; width: 375px;" alt="...">
    <img src="/images/variedaddesushi4.jpg" style="height: 375px; width: 375px;" alt="...">
    <img src="/images/variedaddesushi5.jpg" style="height: 375px; width: 375px;" alt="...">
    <img src="/images/variedaddesushi6.jpg" style="height: 375px; width: 375px;" alt="...">
</div>
<div class="carousel-item">
    <img src="/images/variedaddesushi7.jpg" style="height: 375px; width: 375px;">
    <img src="/images/variedaddesushi8.jpg" style="height: 375px; width: 375px;" alt="...">
    <img src="/images/variedaddesushi9.jpg" style="height: 375px; width: 375px;" alt="...">
    <img src="/images/variedaddesushi10.jpg" style="height: 375px; width: 375px;" alt="...">
    <img src="/images/variedaddesushi11.jpg" style="height: 375px; width: 375px;" alt="...">
</div>
</div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Next</span>
    </button>
</div>
<br>
<br>
    <section>   
        <p class="border border-info-subtle"><span style="font-size: 25px;">¡Bienvenido a Sushi Oto!</span><br>
    En Sushi Oto, nos apasiona ofrecerte la mejor experiencia culinaria japonesa. Nuestro objetivo es transportarte a Japón a través de nuestros exquisitos platos de sushi y sabores auténticos. Desde los clásicos nigiri y sashimi hasta los rollos creativos y deliciosos, cada bocado es una obra maestra cuidadosamente elaborada por nuestros talentosos chefs.
    Nos enorgullece utilizar solo los ingredientes más frescos y de la más alta calidad en cada uno de nuestros platos. Trabajamos en estrecha colaboración con  proveedores locales para garantizar que cada pieza de sushi sea una explosión de sabores y texturas que deleitará tus sentidos.
    Además de nuestra increíble selección de sushi, también ofrecemos una variedad de opciones vegetarianas y platos calientes tradicionales japoneses. Nuestro objetivo es satisfacer los gustos y necesidades de todos nuestros clientes, brindando una experiencia gastronómica única y memorable.
    Ya sea que estés buscando una cena íntima, una comida rápida para llevar o un lugar para celebrar una ocasión especial, Sushi Oto es el lugar perfecto. Nuestro cálido y acogedor ambiente, combinado con un servicio excepcional, te hará sentir como en casa desde el momento en que cruzas nuestras puertas.
    ¡Te invitamos a explorar nuestro menú y descubrir los sabores únicos de Sushi Oto! Ven y únete a nosotros para una experiencia gastronómica inolvidable.</p>
    </section>
    
    
<section>
    <footer>
        <div class="d-flex justify-content-center">
            <p><span class="border border-info-subtle">Derechos de autor Luis Otoya © 2023/24. Mi sitio web.</span></p>         
            <p><span class="border border-info-subtle">Contáctanos en info@otosushi.com</span></p>
        </div>    
    </footer>
</section>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>